body{
    background-color: #141519;
    color: white;
    font-family: 'Overpass', sans-serif;
    
}
.img{
    background-color: #262e38;
    border-radius: 100%;
    padding: 8px;
}
p{
 line-height: 1.75rem;
 font-size:1.0rem;
 font-weight: 300;
 opacity: 65%;
 margin-top:20px;
 margin-bottom:25px;
}

h1{
margin-top: 25px;
font-size: 2rem;
font-weight: 600;
}


.container
{  
    background-color: #1e252f;
    width:30%; 
    margin: 110px auto 50px;
    padding: 40px;
    border-radius: 10%;
}

/* buttons */
.btn
{   
     border-radius: 100%;
    padding: 15px 22px;
    margin-right: .5rem; 
    background-color: #262e38;
    border:#262e38;
    color: white;
    opacity:65%;
    
}
.submit
{   margin-top:20px;
    display: block;
    background-color:hsl(25, 97%, 53%) ;
    padding: 10px;
    border-radius:20px;
    opacity: 100%;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.sub_btn
{
    margin-top:30px;
}

 .btn:hover
{
    background-color: hsl(217, 12%, 63%);
} 
.submit:hover
{
    background-color:white;
    color: hsl(25, 97%, 53%);
}

.btn:focus{

    background-color: hsl(25, 97%, 53%);
    opacity: 100%;
    
    }


/* --------------------------------------------Thank You page---------------------------------------------- */
#rating-section{
    text-align: center;
    width: 25%;
    padding: 35px;
}

.selected-text
{
    color: hsl(25, 97%, 53%);
}


.thankyou-text,.selected-text
{
    font-size: 1.2rem;
}

#rating-title{
    font-size: 1.75rem;
    letter-spacing: 1.5px;
}

footer
{
    text-align: center;
}
footer a
{
    color: white;
}
footer a:hover
{
    color: hsl(25, 97%, 53%);
}

/* MEDIA QUERY */
@media (max-width:1340px) and (min-width:1224px)
{  .container{
    width:35%;
}
  .btn{
    margin-right: .8rem; 
  }
   
}

@media (max-width:1224px ) and (min-width:1210px)
{  .container{
    width:38%;
    padding: 50px;
}
.btn{
    margin-right: .6rem; 
   
  }
}

@media (max-width:1210px ) and (min-width:1070px)
{  .container{
    width:40%;
    padding: 50px;
}
.btn{
    margin-right: .6rem; 
   
  }
}

@media (max-width:1070px) and (min-width:1000px)
{  .container{
    width:42%;
    padding: 50px;
}
.btn{
    margin-right: .5rem; 
   
  }
}

@media (max-width:1000px) and (min-width:930px)
{  .container{
    width:45%;
    padding: 50px;
}
.btn{
    margin-right: .5rem; 
   
  }
}

@media (max-width:930px) and (min-width:850px)
{  .container{
    width:46%;
    padding: 30px;
   
}
.btn{
    margin-right: 1.2rem; 
    padding: 11px 18px;
  }
}

@media (max-width:850px) and (min-width:720px)
{  .container{
    width:48%;
    padding: 30px;
   
}
.btn{
    margin-right: 1.2rem; 
    padding: 11px 18px;
  }
}


@media (max-width:720px) and (min-width:650px)
{  .container{
    width:52%;
    padding: 30px;
   
}
.btn{
    margin-right: .5rem; 
    padding: 11px 18px;
  }
}

@media (max-width:650px) and (min-width:580px)
{  .container{
    width:65%;
    padding: 30px;
   
}
.btn{
    margin-right: .8rem; 
    padding: 11px 18px;
  }
}

@media (max-width:580px) and (min-width:510px)
{  .container{
    width:70%;
    padding: 30px;
   
}
.btn{
    margin-right: .3rem; 
    padding: 11px 18px;
  }
}

@media (max-width:510px) and (min-width:415px)
{  .container{
    width:78%;
    padding: 30px;
   
}
.btn{
    margin-right: .3rem; 
    padding: 11px 18px;
  }
}

@media (max-width:415px) and (min-width:370px)
{  .container{
    width:90%;
    padding: 30px;
   
}
.btn{
    margin-right: .25rem; 
    padding: 11px 18px;
  }
}

